## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## RUBYMINE
.idea

## REDCAR
.redcar

## PROJECT::GENERAL
.autotest
.bundle
.document
.rvmrc
coverage
rdoc
pkg
Gemfile.lock
b/

## PROJECT::SPECIFIC
mongo.log
